.buttons-menu{
    height: 60px;
    display: flex;
    border-radius: 3px;
    background-color: #252f46b1;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .buttons-menu a{
    text-decoration: none;
    padding: 8px 6px;
    border: 0;
    letter-spacing: 1px;
  
  }
  