.App {
  text-align: center;
}

.main-content{
  width: 100%;
  max-width: 900px;
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
}

.buttons-menu{
  height: 60px;
  display: flex;
  margin: 20px;
  border-radius: 3px;
  background-color: #252f46b1;
  justify-content: space-evenly;
}

.buttons-menu button{
  width:150px;
  cursor: pointer;
  padding: 8px 6px;
  border: 0;
  color: #fff;
  letter-spacing: 1px;

}

.content-block{
  display: flex;
  margin: 20px;
  padding: 30px;
  padding: 30px;
  border-radius: 3px;
  background-color: #252f46b1;
}

.list{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 80px;
}

.list-item{
  text-align: left;
  width: 210px;
  padding: 15px 35px;
  border-bottom: 1px solid;
}

.card-visible {
  display: block;
}

.card-unvisible {
  display: none;
}