@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  font-family:'Jost', sans-serif;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100vh;

}

.dark {
  background-image: url(back-dark.png );
  background-position: center; 
  background-repeat: no-repeat;  
  background-size: cover; 
  height: 100vh;
  color: white;
}

.light {
  background-image: url(back-light.jpg );
  background-position: center; 
  background-repeat: no-repeat;  
  background-size: cover; 
  height: 100vh;
  color: black;
}

.light .content-block{
  background-color: #ffffffb4;
}

.light .buttons-menu{
  background-color: #ffffffb4;
}

.dark .content-block {
  background-color: #0a0d15db;
}

.dark .buttons-menu{
  background-color: #0a0d15db;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  color: inherit;
  font: inherit;

  line-height: normal;

  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  -webkit-appearance: none;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}