@import url('https://fonts.googleapis.com/css2?family=Basic&display=swap');

body {
  margin: 0;
  font-family:'Basic', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url(background-galaxy.jpg );
  background-position: center; 
  background-repeat: no-repeat;  
  background-size: cover; 
  height: 100vh;

  color: white;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  color: inherit;
  font: inherit;

  line-height: normal;

  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  -webkit-appearance: none;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}